# =============== PYTHON =============== #
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env/
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
/build/
/develop-eggs/
/dist/
/downloads/
/eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
/wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyo
*.pyd

# =============== CONFIGURATII SENSIBILE (ENVIRONMENTAL VARIABLES) =============== #
.env
.env.*
!.env.example
.venv
env.ini
.flaskenv
secrets.json
*.key
*.pem

# =============== TESTE SI ACOPERIRE =============== #
htmlcov/
.tox/
.nox/
.nosetests
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/

# =============== IDE SI EDITOARE =============== #
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace

# =============== BACKUP SI TEMPORARE =============== #
*.bak
*.tmp
*.temp
*~